.card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  border-bottom: none; 
}



.card.bg-blue {
  background-color: #1d87f2; 
}

.card.bg-orange {
  background-color: #faa21e; 
}

.card.bg-purple {
  background-color: #d227f1;
}

.card.bg-success {
  background-color: #65d268; 
}

.page-content-wrapper {
  padding-top: 15px; 
  padding-left: 20px;
}
.dashboard-title {
  margin-bottom: 20px;
  
  font-size: 2rem;
  font-weight: bold; /* Gras */
  color: #615d5d; /* Couleur du texte */
  font-family: serif;
}





.entrecarde{
  font-weight: bold;
  font-size: 16px;
  color: #333;
  
}