.icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
 
}


.card-head {
  background-color: #f2f2f2;
  padding: 10px;
}

.card-head header {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.recent-report__chart {
  height: 0px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools {
  display: flex;
  align-items: center;
}

.tools a {
  margin-left: 10px;
  color: #333;
}

.tools a {
  font-size: 18px;
}

